$primary-bg-color: #2c3e50;
$light-fg-color: #ecf0f1;
$darkblue: #186599;
$navbar-bg-col-gradient-start: #37577a;
$navbar-bg-col-gradient-stop: #273646;
$fontsize-normal: 12px;
$fontsize-small: 10px;
$fontsize-extrasmall: 8px;
$fontsize-bigger: 15px;
$fontsize-extrabig: 20px;
$fontsize-h2: 16px;
$fontsize-h3: 14px;
$fontsize-h4: 12px;
$fontsize-h5: 10px;
$fontsize-h6: 8px;
$toolbar-btn-color: rgb(41, 127, 177); 